.bg-video {
  /* ako hoces samo na pocetnoj video stavi:
  position: absolute */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  /* opacity: .5; */
  overflow: hidden;
  /* object-fit: fill; */
  object-fit: cover;
} 

/* .content {
  height: 100%;
  width: 100%;
}  */

/* .bg-video-test {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
} */